    .gradient-custom {
        /* fallback for old browsers */
        background:rgb(24, 182, 129);

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, rgb(31, 163, 60), rgba(37, 117, 252, 1));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, rgb(94, 194, 48), rgba(37, 117, 252, 1));

        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        }



    .card-custom {
        background: #222;
        color: white;
        border-radius: 1rem;
        padding: 2rem;
        text-align: center;
        max-width: 400px;
        width: 100%;
        border: 2px solid rgb(40, 69, 196);
    }

    .custom-hover:hover {
        background-color: #af5200 ; /* Naranja más oscuro al pasar el cursor */
        border-color: #8f5727 ;
        color: white ;
    }
    

    